<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav" mode="side" opened>
    <mat-toolbar color="primary">
      Contact
    </mat-toolbar>

    <mat-list>
      <a mat-list-item routerLink="students">Students</a>
      <a mat-list-item routerLink="">Instructors</a>
      <a mat-list-item routerLink="meetings">Meetings</a>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
